$widthTooltip: 150px;

.tooltip {
  color: #fff;
  visibility: hidden;
  background: rgba(41, 41, 41, 0.6);
  font-size: 12px;
  opacity: 0;
  width: $widthTooltip;
  position: absolute;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &--tool {
    right: $widthTool;
    height: $widthTool;
  }
}
